<div class="content" role="main">
  <h2>รายรับ</h2>

  <div class="card-container">
    <div class="card card-small" (click)="openModal(template)">
      เพิ่มรายรับ
    </div>
  </div>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">เพิ่มรายรับ</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="incomeForm" (ngSubmit)="onSubmit(incomeForm)">
        <div class="form-group">
          <div class="col-xs-12 col-12 col-md-4 form-group row">
            <input
              type="text"
              placeholder="วันที่"
              class="form-control"
              bsDatepicker/>
          </div>
        </div>

        <div class="form-group">
          <select id="incomeGroupId" formControlName="incomeGroupId" class="form-control">
            <option value="" selected>กรุณาเลือกประเภทเงินเดือน</option>
             <option *ngFor="let data of incomeGroup" [value]="data.id" >{{ data.name }}</option> 
          </select>
        </div>

        <div class="form-group">
          <input
            formControlName="amount"
            placeholder="จำนวนเงิน"
            class="form-control"
          />
        </div>
        <button type="submit" class="btn btn-primary">ตกลง</button>
      </form>
    </div>
  </ng-template>

  <div class="container">
    <div class="row">
      <div class="col-xs-5 col-sm-5 col-lg-5" style="display: block;">
        <canvas
          baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
        >
        </canvas>
      </div>

      <table class="table col-xs-7 col-sm-7 col-lg-7">
        <thead>
          <tr>
            <th scope="col">ลำดับ</th>
            <th scope="col">วันที่</th>
            <th scope="col">ประเภท</th>
            <th scope="col">ราคา</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of income">
            <th scope="row">{{ data.id }}</th>
            <td>{{ data.date | date:'d/M/yyyy' }}</td>
            <td>{{ data.incomeGroupName }}</td>
            <td>{{ data.amount }}</td>
            <td>
              <button type="button" class="btn btn-primary">แก้ไข</button>
              <button type="button" class="btn btn-danger">ลบ</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
