<div class="content" role="main">
  <h2>รายรับ</h2>

  <div class="card-container">
    <div class="card card-small" (click)="openModal(template)">
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>เพิ่มรายรับ</span>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      This is a modal.
    </div>
  </ng-template>

  <div class="container">
    <div class="row">
      <div class="col-sm" style="display: block;">
        <canvas
          baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
        >
        </canvas>
      </div>

      <table class="table col-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ประเภท</th>
            <th scope="col">จำนวน</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>งานประจำ</td>
            <td>2000</td>
            <td><button>แก้ไข</button><button>ลบ</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>งานประจำ</td>
            <td>100</td>
            <td><button>แก้ไข</button><button>ลบ</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>งานเสริม</td>
            <td>400</td>
            <td><button>แก้ไข</button><button>ลบ</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
