<div class="content" role="main">
  <h2>รายจ่าย</h2>

  <div class="card-container">
    <div class="card card-small" (click)="openModal(template)">
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>เพิ่มรายจ่าย</span>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      This is a modal.
    </div>
  </ng-template>

  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-lg-6" style="display: block;">
        <canvas
          baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType">
        </canvas>
      </div>

      <table class="table col-xs-6 col-sm-6 col-lg-6">
        <thead>
          <tr>
              <th scope="col">ลำดับ</th>
              <th scope="col">วันที่</th>
              <th scope="col">ประเภท</th>
              <th scope="col">รายการ</th>
              <th scope="col">ราคา</th>
              <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngFor="let data of outcome">
          <tr>
            <th scope="row">{{data.id}}</th>
            <td>{{data.date}}</td>
            <td>{{data.type}}</td>
            <td>{{data.name}}</td>
            <td>{{data.price}}</td>
            <td>
                <button type="button" class="btn btn-primary">แก้ไข</button>
                <button type="button" class="btn btn-danger">ลบ</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
